.presentation__discover {
  background: #F7515C;
  border: 0;

  min-width: 207px;
  min-height: 78px;

  display: flex;
  justify-content: center;
  align-items: center;

  align-self: flex-start;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 22px;

  color: #FFFFFF;

  text-align: center;
  padding: 5px 44px;

  cursor: pointer;
}
