.slider-card__image {
  display: block;

  margin: 0 auto;
  padding: 0;

  width: 278px;
  height: 312px;

  object-fit: fill;
  object-position: center;
}

@media screen and (max-width: 430px) {
  .slider-card__image {
    width: 100%;

    object-fit: cover;
  }
}
