.callback {
  max-width: 100%;
  min-height: 812px;
  position: relative;

  margin: 40px auto 0;
  padding: 0;
}

@media screen and (max-width: 430px) {
  .callback {
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .callback {
    min-height: 480px;
  }
}
