.about__rectangle_one {
  position: absolute;

  width: 205px;
  height: 180px;
  left: 51px;
  top: 521px;

  background: rgba(40, 42, 48, 1);

  transition: all 0.5s ease 0s;

}

@media screen and (min-width: 1440px) {
  .about__rectangle_one {
    left: 63px;
  }
}

/* 1280 - default*/

@media screen and (max-width: 1250px) {
  .about__rectangle_one {
    left: 31px;

    background: rgba(40, 42, 48, 0.7);
  }
}

@media screen and (max-width: 834px) {
  .about__rectangle_one {
    display: none;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 430px) {}

@media screen and (max-width: 320px) {}
