.slider-card {
  margin: 44px 0 0;
  padding: 0;
}

@media screen and (min-width: 1440px) {}

/* 1280 - default*/

@media screen and (max-width: 1124px) {
  .slider-card {
    margin: 88px 0 0;
  }
}

@media screen and (max-width: 834px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 430px) {
  .slider-card {
    margin: 38px 0 0;
  }
}

@media screen and (max-width: 320px) {}
