.callback__snap-accent {
  display: block;

  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 100px;
  line-height: 1.22;

  text-shadow: none;

  color: #282A30;
}

@media screen and (min-width: 1440px) {}

/* 1280 - default*/

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 834px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 660px) {
  .callback__snap-accent {
    font-size: 60px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 320px) {}