.footer__column {
  flex: 0 1 20%;
  margin: 0;
  padding: 0;
}

.footer__column:last-child {
  flex: 0 1 20%;
}

@media screen and (min-width: 1440px) {
  .footer__column {
    flex: 0 1 20%;
    margin: 0;
    padding: 0;
  }

  .footer__column:last-child {
    flex: 0 1 17%;
  }
}

@media screen and (max-width: 834px) {
  .footer__column {
    flex: 0 1 50%;
    margin: 0;
    padding: 0;
  }

  .footer__column:last-child {
    flex: 0 1 50%;
  }
}

@media screen and (max-width: 470px) {
  .footer__column {
    flex: 0 1 100%;
    padding: 0;
  }

  .footer__column:last-child {
    flex: 0 1 100%;
  }
}
