.footer__column {
  /* display: flex;
  flex-direction: column;
  justify-content: start; */


  flex: 0 1 20%;
  margin: 0;
  padding: 0;
  /* padding: 0 15px; */
}

.footer__column:last-child {
  flex: 0 1 20%;
}

@media screen and (min-width: 1440px) {
  .footer__column {
    flex: 0 1 20%;
    margin: 0;
    padding: 0;
    /* padding: 0 15px; */
  }

  .footer__column:last-child {
    flex: 0 1 17%;
  }
}

/* 1280 - default*/

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 834px) {
  .footer__column {
    flex: 0 1 50%;
    margin: 0;
    padding: 0;
    /* padding: 0 15px; */

  }

  .footer__column:last-child {
    flex: 0 1 50%;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 470px) {
  .footer__column {

    flex: 0 1 100%;
    /* margin: 30px 0 0; */
    padding: 0;
    /* padding: 0 15px; */

  }

  .footer__column:last-child {
    flex: 0 1 100%;
  }

  /*
  .footer__column:first-child {
    margin: 0;
  } */

}

@media screen and (max-width: 320px) {}
