.presentation {
  max-width: 100%;
  min-height: 100%;
  position: relative;

  margin: 207px auto 0;
  padding: 0;

  background-color: rgba(123, 255, 0, 0.2);
}

@media screen and (min-width: 1440px) {}

/* 1280 - default*/

@media screen and (max-width: 1024px) {
  .presentation {
    margin: 194px auto 0;

  }
}

@media screen and (max-width: 834px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 748px) {
  .presentation {
    margin: 127px auto 0;

  }
}

@media screen and (max-width: 320px) {
  .presentation {
    margin: 132px auto 0;

  }
}
