.advantage__card_tree {
  top: 720px;
  right: 104px;
}

@media screen and (min-width: 1440px) {
  .advantage__card_tree {
    right: 116px;
  }
}

/* 1280 - default*/

@media screen and (max-width: 1024px) {
  .advantage__card_tree {
    right: 84px;
  }
}

@media screen and (max-width: 834px) {
  .advantage__card_tree {
    right: 79px;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 667px) {
  /* .advantage__card_tree {} */
}

@media screen and (max-width: 430px) {}

@media screen and (max-width: 320px) {}
