.advantage__card_two {
  top: 207px;
  right: 234px;
}

@media screen and (min-width: 1440px) {
  .advantage__card_two {
    right: 246px;
  }
}

/* 1280 - default*/

@media screen and (max-width: 1220px) {
  .advantage__card_two {
    right: 44px;
  }
}

@media screen and (max-width: 834px) {
  .advantage__card_two {
    right: 52px;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 667px) {
  /* .advantage__card_two {} */
}

@media screen and (max-width: 430px) {}

@media screen and (max-width: 320px) {}
