.about {
  max-width: 100%;
  height: 100%;
  min-height: 810px;

  margin: 40px auto 0;
  padding: 0;

  position: relative;
  display: flex;
  justify-content: flex-end;


  background-color: rgba(0, 229, 255, 0.2);
}

@media screen and (min-width: 1440px) {}

/* 1280 - default*/

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 834px) {
  .about {
    padding: 0 10px 0;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 510px) {
  .about {
    justify-content: flex-start;
    padding: 0 10px 0;
  }
}

@media screen and (max-width: 320px) {
  .about {
    margin: 30px auto 0;
    min-height: 684px;
  }
}
