.product__cards {
  display: flex;
  flex-direction: column;
  /* width: 287px; */
  /* flex-direction: row; */
  /* justify-content: space-between; */

  /* text-align: center; */
  margin: 0;
  padding: 0;
}
