.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: rgba(24, 199, 176, 0.2); */
}

@media screen and (min-width: 1440px) {
  /* .footer {
    max-width: 1220px;
  } */
}

/* 1280 - default*/

@media screen and (max-width: 1110px) {
  /* .footer {
    max-width: 868px;
  } */
}

@media screen and (max-width: 834px) {
  /* .footer {
    max-width: 618px;
  } */
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 430px) {}

@media screen and (max-width: 320px) {}


/*

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 1084px;

  position: relative;

  margin: 98px auto 0;
  padding: 0;

  background-color: rgba(24, 199, 176, 0.2);
} */
