.advantage__card {
  position: absolute;
}


@media screen and (min-width: 1440px) {}

/* 1280 - default*/

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 834px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 667px) {
  .advantage__card {
    position: static;
  }
}

@media screen and (max-width: 430px) {
  .advantage__card {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {}
