.card {
  width: 100%;

  max-width: 450px;
  min-height: 200px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 0;
  padding: 44px 47px 44px 44px;

  text-decoration: none;

  background-color: #FFF;

  box-shadow: 20px 4px 100px rgba(0, 0, 0, 0.1);

  transition: all 0.5s ease 0s;
}

@media screen and (max-width: 834px) {
  .card {
    max-width: 407px;
    min-height: 151px;
    padding: 22px 22px 36px 22px;
  }
}

@media screen and (max-width: 320px) {
  .card {
    padding: 12px 35px 24px 12px;
  }
}
